*{margin:0 auto;}
b {display:block; /* width:800px; height:20px; */ text-align:center;}
body .paging {width: 750px; height:20px; margin:0px auto; text-align:center; font-weight:bold;}
body .paging a {text-align:center; width:40px; height:20px; margin:20px auto;}
body {
	FONT-SIZE: 9pt; 
	COLOR: black; 
	LINE-HEIGHT: 160%; 
	FONT-FAMILY: 굴림,verdana,tahoma;
}
td {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: 굴림,verdana,tahoma;
}
select {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: 굴림,verdana,tahoma;
}
div {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: 굴림,verdana,tahoma;
}
form {
	FONT-SIZE: 9pt; COLOR: black; LINE-HEIGHT: 160%; FONT-FAMILY: 굴림,verdana,tahoma;
}
textarea {
	BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid #999999 ; COLOR: BLACK; BORDER-BOTTOM: 1px solid #999999; FONT-FAMILY: 굴림,verdana; BACKGROUND-COLOR: white;
}
input {
	BORDER-RIGHT: 1px solid #999999; BORDER-TOP: 1px solid #999999; FONT-SIZE: 9pt; BORDER-LEFT: 1px solid #999999; COLOR: BLACK; BORDER-BOTTOM: 1px solid #999999; FONT-FAMILY: 굴림,verdana; HEIGHT: 19px; BACKGROUND-COLOR: white;
}
 
a:link {text-decoration:none;color:#696969;}
a:hover{text-decoration:yes;color:#66CCFF;}
a:visited {text-decoration:none;color:#330066;}